/* Add modal styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 760px;
}

.modalContent {
  text-align: left;
}

.modal select,
.modal input,
.modal textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.modal button {
  background-color: #40A5FF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
}
.modal button:hover {
  background-color: #40A5FF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
}

.modal button + button {
  margin-left: 10px;
}

.inputContainer {
  font-size: 0.8em;
  margin-bottom: 1em;
}

.addTaskHeader{
  border-bottom: 1px solid #E8E6E7;
  padding-bottom: 0.4em;
  margin-top: 0;
  text-align: center;
}

.removeSubtask{
font-size: 0.6em;
padding: 0.4em;
color: gray !important;
background-color: transparent !important;
}

